@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body,
html {
    padding: 0px;
    margin: 0px;
    background-color: #f5f5f5;
    height: 100%;
}

#web-container {
    min-height: 100%;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
}

.content {
    padding-top: 10px;
    padding-bottom: 250px;
}

ul {
    list-style-type: none;
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    margin: 0px;
    color: #000;
}

@media screen and (min-width: 1700px) {
    .container {
        max-width: calc(100vw - 150px);
    }
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    padding: 0px;
}


image {
    width: 100%;
    height: 100%;
}

header .logo {
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

header .home-search {
    border-radius: 5px;
    border: #35202059 0.8px solid;
    padding-left: 1rem;

}

.search-icon {
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    color: #35202059;
    transition: 0.15s;
}

.home-search:focus+label .search-icon {
    color: #000;
}


.cart-count-wrapper {
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: white;
    top: -5px;
    right: -3px;

}

header label {
    display: flex;
    align-items: center;
}

.nav-home {
    transition: 0.3s ease;
}

.navbarSticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.nav-home.navbarSticky {
    background-color: #fff;
}


.home-header .nav-home ul li {
    font-size: 1.25rem;
}


.nav-home ul li {
    position: relative;
    display: block;
}

.nav-home ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

.nav-home ul li:hover::before {
    width: 100%;
}

.card-img-top {
    height: 20rem;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.userDropdown::after {
    display: none !important;
    position: relative;

}

.userDropdown {
    font-size: 2rem !important;
}


section .slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

footer {
    background-color: white;
    height: auto;
}

main .product-detail .row {
    border-radius: 16px;
}

main .product-detail .img-prdDetail {
    border-radius: inherit;
}


main .product-detail .size-input {
    font-size: 3rem;
    border-radius: 0px;
    width: 3rem;
}

.card {
    overflow: hidden;
    transition: 0.25s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(201, 201, 201, 1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(201, 201, 201, 1);
    box-shadow: 5px 5px 5px 0px rgba(201, 201, 201, 1);
}

.category-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.sidebar-list li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
}

.sidebar-list li:last-child {
    border-bottom: none !important;
    ;
}

.sidebar-list li:hover a {
    font-size: 1.25rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;

}

.product-detail-link {
    text-transform: capitalize;
}

.product-detail-link:hover {
    color: rgb(27, 86, 197);
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.btn-navbarCollapse {
    display: none;
}

#collapseNavbar {
    transition: all 0.5 ease-in-out;
}

.home-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .btn-navbarCollapse {
        display: block;
    }

    #collapseNavbar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 75vw;
        z-index: 2000;
        background-color: #fff;
    }

    .navbarSticky {
        position: static;
    }

    .nav-home {
        display: none !important;
    }

    .home-header .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .home-search {
        display: none;
    }

    .search-icon {
        font-size: 2rem;
        color: black !important;
    }

    .logInOut-wrapper {
        display: none;
    }

    .home-search.active {
        display: block;
        position: absolute;
        top: 32px;
        right: -14px;
        z-index: 100;
    }
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Điều chỉnh độ mờ ở đây */
    z-index: 998;
    /* Đảm bảo overlay nằm dưới các phần tử khác nhưng trên collapseNavbar */
}

.collapse.show+.overlay {
    display: block;
    /* Hiển thị overlay khi collapseNavbar được mở */
}

body.overlay-visible {
    z-index: -1;
    pointer-events: none;
    opacity: 0.9;
}

body.overlay-visible #collapseNavbar {
    pointer-events: auto;
    /* Cho phép tương tác với collapse khi overlay hiển thị */
    opacity: 1 !important;
    /* Loại bỏ hiệu ứng làm mờ cho collapse khi overlay hiển thị */
}
.img-about{
    width: 50%;
    height: auto;
    object-fit: contain;
}
.inp-color ul li{
    font-size: 1.125rem;
    padding: 5px;
    border:3px solid #c8c8c8 ;
    color: #c8c8c8;
    transition: 0.15s ease-in-out;
}
.inp-size ul li{
    font-size: 1.125rem;
    padding: 5px;
    border:3px solid #c8c8c8 ;
    color: #c8c8c8;
}


.inp-color ul li:hover{
    border:3px solid #000 ;
    color: #000;
}

.inp-size ul li:hover{
    border:3px solid #000 ;
    color: #000;
}

.inp-color ul li.selected{
    border:3px solid #000 ;
    color: #000;
}

.inp-size ul li.selected{
    border:3px solid #000 ;
    color: #000;
}